/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --ff-1: "Inria Serif", serif; 
}
body {
    background-color: black;
}

.title{
    font-family: var(--ff-1);
}

a {
    cursor: pointer;
    text-decoration: none;
}

.line {
    width: 100%;
    height: 5px;
}

.login-img {
    width: 60%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

ul {
    list-style-type: none;
}

.box {
    max-height: 100%; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling when needed */
}

.background-img {
    background-image: url('/assets/images/css-background-fb-cropped.jpg');
    background-size: cover;        /* Makes the image cover the entire element */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    width: 100%;
    height: 95vh;                 /* Optional: Sets the height to full viewport */
}


