{% load static %}
{% include 'partials/head.html'%}
  <body>
    <div class="container-fluid px-0">
      <nav class="navbar bg-black">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div>
              <a class="me-3 navbar-brand" href="#">
                <img class="me-0" src="{%static '/assets/images/logo-css-removebg-preview.png'%}" alt="Logo" width="50" height="50">
              </a>
            </div>
            <div class="justify-content-center align-items-center fs-5 ">
              <a class="title text-white fs-5 mb-0 navbar-brand" href="">Computer Student Society</a>
            </div>
          </div>
          <div>
            <a class="text-decoration-none text-white me-5 fs-6" href="./login.html">
              LogIn as Member 
            </a>
          </div>
        </div>
      </nav>
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="p-0 col bg-light text-center">
                <div class="px-4 my-5">
                  <p class="fs-4">Aeron Clyde Espina</p>
                  <p class="h5">Officer-COV</p>
                </div>
                <div class="line bg-black"></div>
                <div class="p-4">
                  <div class="d-flex justify-content-center">
                    <ul class="text-start">
                      <li class="py-4">
                        <a class="fs-4 text-dark" href="">Events</a>
                      </li>
                      <li class="py-4">
                        <a class="fs-4 text-dark" href="">Commitee</a>
                      </li>
                      <li class="py-4">
                        <a class="fs-4 text-dark" href="">Merchandise</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-7 px-0">
              <section class="container d-flex row-gap-2 flex-column box vh-100">
                <div class="post-entry d-flex bg-light flex-column rounded p-4">
                  <div class="post-desc">
                    <h5>
                      Get Ready for your Midterm Exams with Object-Oriented Programming 1:
                    </h5>
                    <p class="fs-6 mt-4">
                      𝐅𝐮𝐧𝐝𝐚𝐦𝐞𝐧𝐭𝐚𝐥𝐬 𝐨𝐟 𝐎𝐎𝐏! Let tutor 𝐉𝐞𝐫𝐞𝐦𝐲 𝐁𝐫𝐚𝐝 𝐋𝐞𝐞 guide you through the key OOP principles every 
                      second-year student needs. Build a strong foundation with Object-Oriented Programming and start
                      your journey to success!
                    </p> 
                  </div>
                  <div class="post-img mt-3">
                    <img class="" src="{%static '/assets/images/css.2.0.jpg' %}" width="100%" height="500px" alt="">
                  </div>
                  <div class="post-btn d-flex flex-row-reverse mt-4 gap-2">
                    <button type="button" class="btn btn-warning text-light py-3 px-5 ">JOIN EVENT</button>
                  </div>                
                </div>
                <div class="post-entry d-flex bg-light flex-column rounded p-4">
                  <div class="post-desc">
                    <h5>
                      Get Ready for your Midterm Exams with Object-Oriented Programming 1:
                    </h5>
                    <p class="fs-6 mt-4">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, hic! At ab, totam a consequatur, exercitationem numquam quasi ad nihil tenetur sit blanditiis iure explicabo aliquam est cum, commodi molestiae quo autem impedit non fuga rem? Accusamus quia ipsam beatae odit assumenda nesciunt. Itaque est quaerat odio neque tempore aperiam nemo! Commodi alias quo sunt officia hic, ipsum, laborum, magni praesentium quod fuga sint dolorem aliquid eaque. Aut voluptatibus voluptatem eos vero dolore nesciunt maxime incidunt similique eaque cupiditate velit, quasi odit dolorem reiciendis ratione assumenda maiores fuga, consectetur, tempora aperiam sint! Pariatur ipsum tempora
                    </p> 
                  </div>
                  <div class="post-img mt-3">
                    <img class="" src="{%static '/assets/images/css.2.0.jpg'%}" width="100%" height="500px" alt="">
                  </div>
                  <div class="post-btn d-flex flex-row-reverse mt-4 gap-2">
                    <button type="button" class="btn btn-warning text-light py-3 px-5 ">JOIN EVENT</button>
                  </div>                
                </div>
                
              </section>
            </div>
            <div class="bg-light col">
              
            </div>
          </div>
        </div>
      </main>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>